.container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    background-color: #f1f1f1;
    padding: 20px;
    color: #45a049;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  button.disabled{
    color: gray;
  }

  select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }


  


  